@model Department
@{
	ViewData["Title"] = "Create";
}

<a asp-action="Index">View All Departments</a>

<h2>Create</h2>
<form method="post">
	<p>
		<label asp-for="Id">Your Id:</label>
		<input asp-for="Id" />
		<span asp-validation-for="Id"></span>
	</p>
	<p>
		<label asp-for="Name">Your Name:</label>
		<input asp-for="Name" />
		<span asp-validation-for="Name"></span>
	</p>

	<p><button type="submit" class="btn btn-success">Submit</button></p>
</form>
@section Scripts {

<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
}